
<ion-content>
<ion-row class="login-row" align-items-center>
  <ion-col col-5></ion-col>
  <ion-col col-2 class="lock-col">
    <div class="lock-bg"></div>
    <img src="assets/imgs/lock.png" class="lock-img" tappable (click)="login()">
  </ion-col>
  <ion-col col-5></ion-col>
</ion-row>
</ion-content>
