<ion-header>
  <ion-navbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let photo of photos; let id = index">
            <ion-card class="block">
              <img [src]="photo" *ngIf="photo" />
            </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
