<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Upload" tabIcon="ios-cloud-upload-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Gallery" tabIcon="md-photos"></ion-tab>
</ion-tabs>
