<ion-header>
  <ion-navbar>
    <ion-title>Gyro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div full> <p> X : {{x}}</p></div>
  <div full> <p> Y : {{y}}</p></div>
  <div full #domObj></div>
</ion-content>


