<ion-header>
  <ion-navbar>
    <ion-title>
      Upload
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">

    <button ion-button full (click)="takePhoto()" >
    <ion-icon name="camera"></ion-icon> &nbsp; &nbsp; Take Photo
    </button>

    <ion-grid>
      <ion-row>
          <ion-col col-6 *ngFor="let photo of photos; let id = index">
              <ion-card class="block">
                <ion-icon name="trash" class="delete" (click)="deletePhoto(id)"></ion-icon>
                <img [src]="photo" *ngIf="photo" />
                <button ion-button full (click)="addPhoto(photo)">Upload</button>
              </ion-card>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
